---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
		<h1>About me.</h1>
        <h2>... And about my new Astro Site!</h2>

        <p>I progress an astro tutorial. This is my website of second page, This is the first page I create by myself! </p>
        <p>This site will be updated as I progress the tutorial. Check it regularly! </p>

	</body>
</html>
