---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Astro learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<p>I will post here my journey of learning Astro.</p>
	<ul>
		{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}></BlogPost>)}
	</ul>
</BaseLayout>
