<div class="admax-ads" data-admax-id="3dfb7e6a165726afc93cedbc63acf3b5" style="display:inline-block;"></div>
<script is:inline>(admaxads = window.admaxads || []).push({admax_id: "3dfb7e6a165726afc93cedbc63acf3b5",type: "banner"});</script>
<script is:inline charset="utf-8" src="https://adm.shinobi.jp/st/t.js" async></script>