<div class="admax-ads" data-admax-id="9bb66b5ff0a620e5213a4375881ba80c" style="display:inline-block;width:160px;height:600px;"></div>
<script is:inline>(admaxads = window.admaxads || []).push({admax_id: "9bb66b5ff0a620e5213a4375881ba80c",type: "banner"});</script>
<script is:inline charset="utf-8" src="https://adm.shinobi.jp/st/t.js" async></script>