<div class="admax-ads" data-admax-id="ba24406f56e9febb9c21219bd6207f39" style="display:inline-block;width:300px;height:250px;"></div>
<script type="text/javascript">(admaxads = window.admaxads || []).push({admax_id: "ba24406f56e9febb9c21219bd6207f39",type: "banner"});</script>
<script type="text/javascript" charset="utf-8" src="https://adm.shinobi.jp/st/t.js" async></script>