---
import { Aside } from "@astrojs/starlight/components";
const { txt, wid = 850 } = Astro.props;
---

<div style={`max-width: ${wid}px; margin: 2rem auto;`}>
  {
    txt && (
      <Aside type="note" title="Important">
        <div style="white-space: pre-wrap; line-height: 1.8;">{txt}</div>
      </Aside>
    )
  }
</div>
