---
import { Aside } from "@astrojs/starlight/components";
const { title = "結論", txt, wid = 850, icon } = Astro.props;
---

<div style={`max-width: ${wid}px; margin: 2rem auto;`}>
  <Aside type="tip" title={title} icon={icon}>
    {txt ? txt : <slot />}
  </Aside>
</div>
