---
/**
 * HabitCalendar2025.astro
 * Fully static component with pre-rendered data for 2025.
 * PERFECTLY matched with HabitCalendar.astro (2026).
 */
---
<div class="habit-calendar-container not-content" id="calendar-2025">
  <div class="calendar-header">
    <span class="total-stats">合計勉強時間: 229.4 時間 (2025年)</span>
  </div>

  <div class="calendar-outer-wrapper">
    <div class="weekday-labels">
      <div class="label-day"></div>
      <div class="label-day">Mon</div>
      <div class="label-day"></div>
      <div class="label-day">Wed</div>
      <div class="label-day"></div>
      <div class="label-day">Fri</div>
      <div class="label-day"></div>
    </div>
    
    <div class="calendar-scroll-wrapper">
      <div class="month-labels" style="display: grid; grid-template-columns: repeat(53, var(--cell-size)); gap: var(--cell-gap);">
        <div class="month-label" style="grid-column-start: 1;">Jan</div>
        <div class="month-label" style="grid-column-start: 5;">Feb</div>
        <div class="month-label" style="grid-column-start: 9;">Mar</div>
        <div class="month-label" style="grid-column-start: 14;">Apr</div>
        <div class="month-label" style="grid-column-start: 18;">May</div>
        <div class="month-label" style="grid-column-start: 23;">Jun</div>
        <div class="month-label" style="grid-column-start: 27;">Jul</div>
        <div class="month-label" style="grid-column-start: 31;">Aug</div>
        <div class="month-label" style="grid-column-start: 36;">Sep</div>
        <div class="month-label" style="grid-column-start: 40;">Oct</div>
        <div class="month-label" style="grid-column-start: 44;">Nov</div>
        <div class="month-label" style="grid-column-start: 49;">Dec</div>
      </div>
      <div class="calendar-grid" style="display: grid; grid-template-columns: repeat(53, var(--cell-size)); grid-template-rows: repeat(7, var(--cell-size)); gap: var(--cell-gap); grid-auto-flow: column;">
        <div class="day-cell level-0" data-date="2024-12-29" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2024-12-30" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2024-12-31" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-01" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-02" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-03" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-04" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-05" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-06" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-07" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-08" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-09" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-10" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-11" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-12" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-13" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-14" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-15" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-16" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-17" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-18" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-19" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-20" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-21" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-22" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-23" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-24" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-25" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-26" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-27" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-28" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-29" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-30" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-01-31" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-01" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-02" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-03" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-04" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-05" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-06" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-07" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-08" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-09" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-10" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-11" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-12" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-13" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-14" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-15" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-16" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-17" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-18" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-19" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-20" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-21" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-22" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-23" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-24" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-25" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-26" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-27" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-02-28" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-01" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-02" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-03" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-04" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-05" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-06" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-07" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-08" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-09" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-10" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-11" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-12" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-13" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-14" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-15" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-16" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-17" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-18" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-19" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-20" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-21" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-22" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-23" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-24" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-25" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-26" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-27" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-28" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-29" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-30" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-03-31" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-01" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-02" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-03" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-04" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-05" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-06" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-07" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-08" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-09" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-10" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-11" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-12" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-13" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-14" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-15" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-16" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-17" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-18" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-19" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-20" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-21" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-22" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-23" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-24" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-25" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-26" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-27" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-28" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-29" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-04-30" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-01" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-02" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-03" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-04" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-05" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-06" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-07" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-08" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-09" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-10" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-11" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-12" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-13" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-14" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-15" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-16" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-17" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-18" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-19" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-20" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-21" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-22" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-23" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-24" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-25" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-26" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-27" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-28" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-29" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-30" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-05-31" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-01" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-02" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-03" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-04" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-05" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-06" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-07" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-08" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-09" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-10" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-11" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-12" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-13" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-14" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-15" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-16" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-17" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-18" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-19" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-20" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-21" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-22" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-23" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-24" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-25" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-26" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-27" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-28" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-29" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-06-30" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-01" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-02" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-03" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-04" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-05" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-06" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-07" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-08" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-09" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-10" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-11" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-12" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-13" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-14" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-15" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-16" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-17" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-18" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-19" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-20" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-21" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-22" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-23" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-24" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-25" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-26" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-27" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-28" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-29" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-30" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-07-31" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-01" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-02" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-03" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-04" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-05" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-06" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-07" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-08" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-09" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-10" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-11" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-12" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-13" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-14" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-15" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-16" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-17" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-18" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-19" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-20" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-21" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-22" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-23" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-24" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-25" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-26" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-27" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-28" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-29" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-30" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-08-31" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-09-01" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-09-02" data-time="0分"></div>
        <div class="day-cell level-1" data-date="2025-09-03" data-time="30分"></div>
        <div class="day-cell level-3" data-date="2025-09-04" data-time="3時間0分"></div>
        <div class="day-cell level-3" data-date="2025-09-05" data-time="3時間0分"></div>
        <div class="day-cell level-2" data-date="2025-09-06" data-time="1時間0分"></div>
        <div class="day-cell level-0" data-date="2025-09-07" data-time="0分"></div>
        <div class="day-cell level-2" data-date="2025-09-08" data-time="1時間0分"></div>
        <div class="day-cell level-2" data-date="2025-09-09" data-time="1時間0分"></div>
        <div class="day-cell level-3" data-date="2025-09-10" data-time="3時間0分"></div>
        <div class="day-cell level-3" data-date="2025-09-11" data-time="3時間15分"></div>
        <div class="day-cell level-3" data-date="2025-09-12" data-time="3時間30分"></div>
        <div class="day-cell level-2" data-date="2025-09-13" data-time="1時間30分"></div>
        <div class="day-cell level-1" data-date="2025-09-14" data-time="30分"></div>
        <div class="day-cell level-2" data-date="2025-09-15" data-time="1時間0分"></div>
        <div class="day-cell level-4" data-date="2025-09-16" data-time="4時間45分"></div>
        <div class="day-cell level-4" data-date="2025-09-17" data-time="4時間45分"></div>
        <div class="day-cell level-3" data-date="2025-09-18" data-time="3時間15分"></div>
        <div class="day-cell level-3" data-date="2025-09-19" data-time="3時間15分"></div>
        <div class="day-cell level-2" data-date="2025-09-20" data-time="1時間45分"></div>
        <div class="day-cell level-0" data-date="2025-09-21" data-time="0分"></div>
        <div class="day-cell level-3" data-date="2025-09-22" data-time="2時間15分"></div>
        <div class="day-cell level-1" data-date="2025-09-23" data-time="45分"></div>
        <div class="day-cell level-3" data-date="2025-09-24" data-time="3時間30分"></div>
        <div class="day-cell level-3" data-date="2025-09-25" data-time="3時間15分"></div>
        <div class="day-cell level-3" data-date="2025-09-26" data-time="3時間15分"></div>
        <div class="day-cell level-0" data-date="2025-09-27" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-09-28" data-time="0分"></div>
        <div class="day-cell level-3" data-date="2025-09-29" data-time="3時間30分"></div>
        <div class="day-cell level-3" data-date="2025-09-30" data-time="3時間15分"></div>
        <div class="day-cell level-2" data-date="2025-10-01" data-time="1時間30分"></div>
        <div class="day-cell level-3" data-date="2025-10-02" data-time="3時間15分"></div>
        <div class="day-cell level-4" data-date="2025-10-03" data-time="5時間30分"></div>
        <div class="day-cell level-0" data-date="2025-10-04" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-10-05" data-time="0分"></div>
        <div class="day-cell level-3" data-date="2025-10-06" data-time="3時間45分"></div>
        <div class="day-cell level-3" data-date="2025-10-07" data-time="3時間30分"></div>
        <div class="day-cell level-3" data-date="2025-10-08" data-time="2時間0分"></div>
        <div class="day-cell level-3" data-date="2025-10-09" data-time="3時間15分"></div>
        <div class="day-cell level-3" data-date="2025-10-10" data-time="2時間45分"></div>
        <div class="day-cell level-0" data-date="2025-10-11" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-10-12" data-time="0分"></div>
        <div class="day-cell level-2" data-date="2025-10-13" data-time="1時間0分"></div>
        <div class="day-cell level-3" data-date="2025-10-14" data-time="3時間30分"></div>
        <div class="day-cell level-3" data-date="2025-10-15" data-time="2時間45分"></div>
        <div class="day-cell level-3" data-date="2025-10-16" data-time="3時間0分"></div>
        <div class="day-cell level-0" data-date="2025-10-17" data-time="0分"></div>
        <div class="day-cell level-1" data-date="2025-10-18" data-time="45分"></div>
        <div class="day-cell level-0" data-date="2025-10-19" data-time="0分"></div>
        <div class="day-cell level-3" data-date="2025-10-20" data-time="2時間15分"></div>
        <div class="day-cell level-4" data-date="2025-10-21" data-time="4時間0分"></div>
        <div class="day-cell level-3" data-date="2025-10-22" data-time="2時間15分"></div>
        <div class="day-cell level-2" data-date="2025-10-23" data-time="1時間45分"></div>
        <div class="day-cell level-3" data-date="2025-10-24" data-time="2時間0分"></div>
        <div class="day-cell level-0" data-date="2025-10-25" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-10-26" data-time="0分"></div>
        <div class="day-cell level-3" data-date="2025-10-27" data-time="2時間15分"></div>
        <div class="day-cell level-3" data-date="2025-10-28" data-time="3時間45分"></div>
        <div class="day-cell level-3" data-date="2025-10-29" data-time="3時間45分"></div>
        <div class="day-cell level-3" data-date="2025-10-30" data-time="3時間30分"></div>
        <div class="day-cell level-3" data-date="2025-10-31" data-time="2時間0分"></div>
        <div class="day-cell level-1" data-date="2025-11-01" data-time="30分"></div>
        <div class="day-cell level-0" data-date="2025-11-02" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-11-03" data-time="0分"></div>
        <div class="day-cell level-1" data-date="2025-11-04" data-time="45分"></div>
        <div class="day-cell level-3" data-date="2025-11-05" data-time="2時間45分"></div>
        <div class="day-cell level-0" data-date="2025-11-06" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-11-07" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-11-08" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-11-09" data-time="0分"></div>
        <div class="day-cell level-3" data-date="2025-11-10" data-time="2時間45分"></div>
        <div class="day-cell level-3" data-date="2025-11-11" data-time="3時間15分"></div>
        <div class="day-cell level-3" data-date="2025-11-12" data-time="3時間0分"></div>
        <div class="day-cell level-3" data-date="2025-11-13" data-time="2時間30分"></div>
        <div class="day-cell level-3" data-date="2025-11-14" data-time="3時間15分"></div>
        <div class="day-cell level-0" data-date="2025-11-15" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-11-16" data-time="0分"></div>
        <div class="day-cell level-3" data-date="2025-11-17" data-time="3時間30分"></div>
        <div class="day-cell level-4" data-date="2025-11-18" data-time="4時間0分"></div>
        <div class="day-cell level-3" data-date="2025-11-19" data-time="3時間45分"></div>
        <div class="day-cell level-3" data-date="2025-11-20" data-time="3時間0分"></div>
        <div class="day-cell level-4" data-date="2025-11-21" data-time="4時間10分"></div>
        <div class="day-cell level-0" data-date="2025-11-22" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-11-23" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-11-24" data-time="0分"></div>
        <div class="day-cell level-3" data-date="2025-11-25" data-time="3時間0分"></div>
        <div class="day-cell level-3" data-date="2025-11-26" data-time="2時間45分"></div>
        <div class="day-cell level-3" data-date="2025-11-27" data-time="3時間30分"></div>
        <div class="day-cell level-3" data-date="2025-11-28" data-time="3時間45分"></div>
        <div class="day-cell level-0" data-date="2025-11-29" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-11-30" data-time="0分"></div>
        <div class="day-cell level-3" data-date="2025-12-01" data-time="3時間45分"></div>
        <div class="day-cell level-3" data-date="2025-12-02" data-time="3時間45分"></div>
        <div class="day-cell level-3" data-date="2025-12-03" data-time="3時間0分"></div>
        <div class="day-cell level-4" data-date="2025-12-04" data-time="4時間15分"></div>
        <div class="day-cell level-0" data-date="2025-12-05" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-12-06" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-12-07" data-time="0分"></div>
        <div class="day-cell level-3" data-date="2025-12-08" data-time="3時間30分"></div>
        <div class="day-cell level-3" data-date="2025-12-09" data-time="3時間0分"></div>
        <div class="day-cell level-3" data-date="2025-12-10" data-time="3時間45分"></div>
        <div class="day-cell level-3" data-date="2025-12-11" data-time="3時間15分"></div>
        <div class="day-cell level-3" data-date="2025-12-12" data-time="2時間0分"></div>
        <div class="day-cell level-1" data-date="2025-12-13" data-time="45分"></div>
        <div class="day-cell level-0" data-date="2025-12-14" data-time="0分"></div>
        <div class="day-cell level-2" data-date="2025-12-15" data-time="1時間45分"></div>
        <div class="day-cell level-3" data-date="2025-12-16" data-time="2時間15分"></div>
        <div class="day-cell level-3" data-date="2025-12-17" data-time="2時間0分"></div>
        <div class="day-cell level-0" data-date="2025-12-18" data-time="0分"></div>
        <div class="day-cell level-3" data-date="2025-12-19" data-time="3時間45分"></div>
        <div class="day-cell level-0" data-date="2025-12-20" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-12-21" data-time="0分"></div>
        <div class="day-cell level-3" data-date="2025-12-22" data-time="3時間30分"></div>
        <div class="day-cell level-3" data-date="2025-12-23" data-time="3時間45分"></div>
        <div class="day-cell level-3" data-date="2025-12-24" data-time="3時間45分"></div>
        <div class="day-cell level-3" data-date="2025-12-25" data-time="3時間45分"></div>
        <div class="day-cell level-0" data-date="2025-12-26" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-12-27" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-12-28" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-12-29" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-12-30" data-time="0分"></div>
        <div class="day-cell level-0" data-date="2025-12-31" data-time="0分"></div>
      </div>
    </div>
  </div>

  <div class="calendar-footer">
    <div class="legend">
      <span>Less</span>
      <div class="legend-cells">
        <div class="legend-cell level-0"></div>
        <div class="legend-cell level-1"></div>
        <div class="legend-cell level-2"></div>
        <div class="legend-cell level-3"></div>
        <div class="legend-cell level-4"></div>
      </div>
      <span>More</span>
    </div>
    <div class="info-text">
      ※ 4時間以上で最大、30分以上4時間未満は色付き
    </div>
  </div>
</div>

<div id="calendar-tooltip-2025" class="calendar-tooltip"></div>

<style>
  .habit-calendar-container {
    --bg-0: #ebedf0;
    --bg-1: #9be9a8;
    --bg-2: #40c463;
    --bg-3: #30a14e;
    --bg-4: #216e39;
    --text-color: #57606a;
    --cell-size: 12px;
    --cell-gap: 3px;
    --label-font-size: 10px;

    background: var(--sl-color-bg-elevated, #fff);
    border: 1px solid var(--sl-color-gray-5, #d0d7de);
    border-radius: 12px;
    padding: 24px;
    margin: 2rem auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    font-family: var(--sl-font-system);
    width: max-content;
    max-width: 100%;
    box-sizing: border-box;
  }

  :global([data-theme="dark"]) .habit-calendar-container {
    --bg-0: #161b22;
    --bg-1: #0e4429;
    --bg-2: #006d32;
    --bg-3: #26a641;
    --bg-4: #39d353;
    --text-color: #8b949e;
    border-color: #30363d;
  }

  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .total-stats {
    font-weight: 600;
    font-size: 1rem;
    color: var(--sl-color-text);
  }

  .calendar-outer-wrapper {
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }

  .weekday-labels {
    display: grid;
    grid-template-rows: repeat(7, var(--cell-size));
    gap: var(--cell-gap);
    margin-top: 18px;
    font-size: var(--label-font-size);
    color: var(--text-color);
  }

  .label-day {
    height: var(--cell-size);
    line-height: var(--cell-size);
    display: flex;
    align-items: center;
  }

  .calendar-scroll-wrapper {
    overflow-x: auto;
    padding-bottom: 12px;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    flex: 1;
  }

  .month-labels {
    font-size: var(--label-font-size);
    color: var(--text-color);
    margin-bottom: 6px;
    height: 12px;
    min-width: max-content;
  }

  .month-label {
    white-space: nowrap;
  }

  .calendar-grid {
    min-width: max-content;
    position: relative;
    padding: 0;
  }

  :global(.day-cell) {
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 2px;
    background-color: var(--bg-0);
    transition: transform 0.1s ease;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.03);
  }

  :global([data-theme="dark"] .day-cell) {
    border: 1px solid rgba(255, 255, 255, 0.03);
  }

  :global(.day-cell:hover) {
    transform: scale(1.3);
    z-index: 10;
    opacity: 0.8;
  }

  :global(.day-cell.level-1) { background-color: var(--bg-1); }
  :global(.day-cell.level-2) { background-color: var(--bg-2); }
  :global(.day-cell.level-3) { background-color: var(--bg-3); }
  :global(.day-cell.level-4) { background-color: var(--bg-4); }

  .calendar-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-top: 16px;
    font-size: 12px;
    color: var(--text-color);
    padding-left: 36px;
  }

  .legend {
    display: flex;
    align-items: center;
    gap: 8px;
    height: var(--cell-size);
  }

  .legend span {
    line-height: var(--cell-size);
  }

  .legend-cells {
    display: flex;
    gap: var(--cell-gap);
    align-items: center;
  }

  .legend-cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-sizing: border-box;
    display: block;
  }

  :global([data-theme="dark"]) .legend-cell {
    border: 1px solid rgba(255, 255, 255, 0.03);
  }

  .legend-cell.level-0 { background-color: var(--bg-0); }
  .legend-cell.level-1 { background-color: var(--bg-1); }
  .legend-cell.level-2 { background-color: var(--bg-2); }
  .legend-cell.level-3 { background-color: var(--bg-3); }
  .legend-cell.level-4 { background-color: var(--bg-4); }

  .info-text {
    opacity: 0.8;
  }

  .calendar-tooltip {
    position: fixed;
    background: #24292f;
    color: #fff;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 12px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
  }
</style>

<script>
  function initStaticTooltip2025() {
    const tooltip = document.getElementById("calendar-tooltip-2025");
    const container = document.getElementById("calendar-2025");
    if (!tooltip || !container || container.dataset.tooltipInitialized) return;

    container.addEventListener("mouseover", (e) => {
      const target = e.target;
      if (target instanceof HTMLElement && target.classList.contains("day-cell")) {
        const date = target.getAttribute("data-date");
        const time = target.getAttribute("data-time");
        if (date && time) {
          tooltip.textContent = date + ": " + time + " 勉強しました";
          tooltip.style.opacity = "1";
          
          const rect = target.getBoundingClientRect();
          const tooltipWidth = tooltip.offsetWidth;
          tooltip.style.left = (rect.left - tooltipWidth / 2 + 6) + "px";
          tooltip.style.top = (rect.top - 55) + "px";
        }
      }
    });

    container.addEventListener("mouseout", (e) => {
      if (e.target instanceof HTMLElement && e.target.classList.contains("day-cell")) {
        tooltip.style.opacity = "0";
      }
    });

    container.dataset.tooltipInitialized = "true";
  }

  document.addEventListener("astro:page-load", initStaticTooltip2025);
  if (document.readyState === "loading") {
    document.addEventListener("DOMContentLoaded", initStaticTooltip2025);
  } else {
    initStaticTooltip2025();
  }
</script>
