---
import { LinkCard } from "@astrojs/starlight/components";
---
<p>
&emsp;自作の自動実行プログラムにて，楽天ラッキーくじを引いてポイントを稼いでいる．その結果をまとめている．
</p>

<LinkCard
  title="楽天ラッキーくじを完全自動でクリック！【楽天ポイ活ジャーニー】"
  description="毎日のくじ引き作業を自動化し、効率的に楽天ポイントを貯めるための自作プログラムとその導入手順を解説しています。"
  href="https://note.com/tomohikoseven/n/n416ade99ebed"
/>
