---
import { Card } from '@astrojs/starlight/components';

interface Props {
  year: number | string;
  total: number | string;
  note?: string;
}

const { year, total, note } = Astro.props;
---

<Card title={`${year}年 年間獲得ポイント合計`} icon="star">
  <div class="annual-total-points">
    {total} pt
  </div>
  {note && (
    <div class="annual-total-note">
      （※{note}）
    </div>
  )}
</Card>

<style>
  .annual-total-points {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--sl-color-text-accent);
  }
  .annual-total-note {
    text-align: center;
    color: var(--sl-color-gray-3);
    margin-top: 0.5rem;
  }
</style>
