<div class="admax-ads" data-admax-id="e1ffac0fe511094cf8bea8abfc156bca" style="display:inline-block;width:200px;height:200px;"></div>
<script is:inline>(admaxads = window.admaxads || []).push({admax_id: "e1ffac0fe511094cf8bea8abfc156bca",type: "banner"});</script>
<script is:inline charset="utf-8" src="https://adm.shinobi.jp/st/t.js" async></script>