---
import { LinkPreview } from 'astro-embed';
---

<LinkPreview id="https://monitor.macromill.com/" />

<!-- <div style="text-align:center;">
  <div style="text-align:center;"> -->
    ▲<span style="color:#0070c0;">マクロミルアンケートモニタ</span>▼<br /><br/>
    <span style="color:#00b050;">200万人</span>が参加のアンケートサイト！<br/>
    <span style="color:#e46c0a;">楽しく！簡単に！ポイントが貯まる！</span><br/>
    貯めたポイントはお小遣いに♪<br /><br />☆。,・==・,。★。,・==・,。☆<br /><br />
    まずは無料会員登録しよう♪<br /><a href="https://monitor.macromill.com/lp/ankeitou.html?entry_kbn=240&int_id=Z41197476A" target="_blank">
      <img src="https://monitor.macromill.com/int/banner/ankeitou_234_60.jpg" alt="" /></a><br />
      ▼　▼　▼<br /><br />登録が完了したら、アンケートが届くよ！<br/>アンケートに答えるだけで<br />
      <span style="color:#e46c0a;">どんどんポイントが貯まっちゃいます！</span><br />
      ▼　▼　▼<br /><br />○貯めたポイントを交換しよう<br /><br/>
      貯めたポイントは<br />
      <span style="color:#00b0f0;">現金や商品、ギフトカードに交換できちゃうよ♪</span><br /><br />
      <span style="color:#c00000;">【現金】</span><br/>
      1P=1円、500Pから換金できちゃう<br />
      しかも各金融機関への振込み手数料は<br/>
      無料！<br /><br />
      <span style="color:#c00000;">【提携プログラムのポイント】</span><br />
      Tポイント、Gポイント、Pexポイント<br /><br />
      <span style="color:#c00000;">【ギフトカード】</span><br />
      Amazonギフトカード<br /><br/>＞さあ！今すぐお小遣い貯めちゃおう☆＜<br />
      <a href="https://monitor.macromill.com/lp/ankeitou.html?entry_kbn=240&int_id=Z41197476A" target="_blank">
        <img src="https://monitor.macromill.com/int/banner/ankeitou_234_60.jpg" alt=""/></a>
  <!-- </div>
</div> -->
